.header {
  height: 295px;
}

#contain {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-color: beige;
}

.pOneRevealed {
  font-size: 30px;
}

.pTwoRevealed {
  font-size: 180px;
  margin-bottom: 20px;
}

.resetRevealed {
  margin-bottom: 100px;
}